@page "/"

<PageTitle>Home</PageTitle>

<h1>This is a template component for VKeyboard component</h1>
<label class="label" for="input1"> Input Box1</label>
<input type="text" id="input1" />

<label class="label" for="input2"> Input Box2</label>
<input type ="text" id="input2" />

<br />
<VKeyboard />